#calendar-container {
    text-align: center;
    margin-top: 50px;
}

.calendar {
    display: inline-block;
    text-align: left;
    margin-top: 20px;
}

.calendar-header {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.calendar-days {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendar-date {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.calendar-date.selected {
    background-color: #87ceeb;
    color: white;
}
